/*CSS Reset Untuk mereset margin default semua elemen*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	main: '';
	main: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Style*/
.top{
	position: fixed;
	background-image: url(img/circle.png);
	border-bottom: 5px solid #8f3458;
	height: 75px;
	width: 100%;
	top: 0;
	z-index: 10;
}
body{
	background-color: aqua;
	background-image: url(img/circle.png);
	/*font: 20px/25px ;*/
	color: white;
}

.youtube{
	width: 100px;
	height: 100px;
	display: inline-block;
	background-image: url(img/ribbon.png);
	background-repeat: no-repeat;
	background-size: 100%;
	text-indent: -9999px;
	position: absolute;
	top: -5px;
	right: -5px;
}
.container{
	background-color: #080231;
	width: 960px;
	margin: 75px auto;
	position: relative;

}

a

.header{
	padding: 20px;
}

.header .judul{
	font-size: 40px;
	font-weight: bold;

}

.header ul li{
	display: inline-block;
	margin-top: 10px;
	padding-right: 5px;
}

.header a{
	text-decoration: none;
	color: #cc0052;
}
.header a:hover{
	color: #cc0052;
	background-color: white;
	font-weight: bold;
}

.hero{
	height: 350px;
	background-image: url(img/jinx.jpg);
	background-position: 0 ;
	background-size: cover;
	border-top: 5px solid #cc0052;
	border-bottom: 5px solid #0000e6;
}

.main{
	padding: 20px;
	width: 600px;
	box-sizing: border-box;
	float: left;
}

.main h2{
	font-size: 30px;
	font-weight: bold;
}

.main .penulis{
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 7px;
	border-bottom: 1px solid white;
}

.main .penulis a{
	color: #cc0052;
}

.penulis a:hover{
	color: #cc0052;
	background-color: white;
	font-weight: bold;
}
.main p{
	text-align: justify;
	margin-bottom: 10px;
	font-size: 15px;
}

.copy{
	background-color: #666666;
	text-align: center;
	padding: 5px;
	font-size: 15px;
}


/*Sidebar*/
.sidebar{
	width: 300px;
	padding: 20px;
	box-sizing: border-box;
	float: right;
	font-size: 15px;
	text-align: justify;
}

.sidebar h3{
	font-size: 25px;
	margin-bottom: 5px;
}
.sidebar img{
	width: 70px;
	height: 70px;
	margin-right: 10px;
	float: left;
}

/*Micro Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}